.product img {
  width: 100%;
  min-height: 286px;
  border-radius: 8px;
}
.product {
  border: 1px solid #95a0a7;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product button {
  background-color: #ffe0b3;
  width: 100%;
  color: rgb(41, 41, 41);
}
.product button:hover {
  background-color: #ffa200;
}
.icons {
  margin-left: 15px;
}

.rating {
  display: flex;
  align-items: center;
  margin: 15px 0px;
}
.dynamic-star-rating {
  margin-left: 15px;
}
