.review-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(165, 159, 159);
  padding: 10px;
  margin: 50px 20px 15px 0px;
  border-radius: 15px;
}
.review-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
}
.left-side {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.icons {
  font-size: 40px;
  color: white;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 0px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(233, 101, 101);
}
